*{
	padding:0px;
	margin:0px;
}

@font-face {
  font-family: Montserrat;
  src:  url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Rubik;
  src:  url('fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  src:  url('fonts/Nunito-Regular.ttf');
}

.wrapper{
	height: auto;
	width: 100%;
	background: linear-gradient(300deg, #F896FB 5%, #D2B0FA 30%, #89E4F9 100%);

	padding-bottom: 50px; 
	overflow: hidden;
}

#home{
	height:10px;
	width:100%;
	padding: 20px 0px;
	border: 0px solid red;
}

#logo{
	height: 64px;
	width: 66px;
	padding-left: 1.4em;
}

#main{
	background-color: white;
	width: 1250px;
	height:auto;
	border-radius:15px;
	margin: 0 auto;
	padding-bottom: 7px;
}

#header{
	width: 400px;
	padding: 5px 0px;
}

#header-text-container{
	height: 5px;
	border: 1px solid #ffffffff;

	box-sizing: border-box;
	padding-left: 0px;
	text-align: center;
}

#head1{
	width: 142px;
    margin-top: -60px;
    margin-left: 436px;
	margin-bottom: 0px;

	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 900;
	
	letter-spacing: 4px;
	color: lightgrey;

	display: block;
	border: 0px solid red;
}

#head2{
	height: auto; 
	width: 100%; 
	margin-top: -45px;
	
	display: block;
	border: 0px solid red;	
}

#r{
	background: -webkit-linear-gradient(92deg, #F896FD 33%, #D2B0FA 48%, #89E4F8 100%);

	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	  
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;


	font-size: 110px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

	border: 0px solid gold;
	display: inline;
}

#eadmission{
	margin: 0px 0px 0px 5px;
	font-variant: small-caps;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 75px;
	letter-spacing: 5px;
	color: #dcdcdc;

	display: inline;
	border: 0px solid green;
}

#content {
	background-color: lightblue;
	height: auto;
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    padding: 0px 5px;
    border-radius: 10px;
}

/*FIRST ROW START*/
#first-row{
	width: 1225px;
}

#left-block{
	width: 430px;
	display: inline-block;
	vertical-align: top;

	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
#mid-block{
	width: 280px;
	display: inline-block;
	vertical-align: top;

	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#mid-block input{
	width: 50px;
}
#right-block{
	width: 410px;
	display: inline-block;
	vertical-align: top;

	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#right-block input{
	width: 75px;
}

#generic, #habits {
	width:364px;
	display:inline-block;
	border: 1px solid gray;
	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
}

#pHH, #hPS {
	width:377px;
	display:inline-block;
	border: 1px solid gray;
	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
}

#phh12Container, #phh60Container{
	width:236px;
	display:inline-block;
	border: 1px solid gray;
	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
}

#smokerDesc, #alcoholicDesc, #addictionDesc{
	width:330px;
	display:inline-block;
	/*border: 1px solid gray;*/
	margin: 5px 10px;
    /*padding: 10px;*/
    /*border-radius: 5px;*/
}

/*FIRST ROW END*/
/*SECOND ROW START*/

#second-row{
	width: 1200px;
}

#lace, #hospital{
	width: 566px;
	display: inline-block;
	vertical-align: top;

	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

#L, #A, #C, #E {
	width:540px;
	display:inline-block;
	border: 1px solid gray;
	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px; 
}

#H, #O, #S, #P, #IT, #A, #L {
	width:540px;
	display:inline-block;
	border: 1px solid gray;
	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px; 
}
/*SECOND ROW END*/


/*THIRD ROW START*/

#third-row{
	width: 1200px;
}

#VI, #DRA {
	width: 566px;
	display: inline-block;
	vertical-align: top;

	margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

/*THIRD ROW END*/

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.col-35 input[type="text"]{
	width: 120px;
}

.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
}
.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

h3, h4{
	padding: 5px 0px;
}